# ==============================
# Backend Environment
# ==============================
backend/.benv/
backend/**/__pycache__/
backend/**/*.py[cod]
backend/**/.pytest_cache/
backend/*.egg-info/
backend/.env
backend/.env.local
backend/.env.*.local
backend/benv/
backend/.benv/

backend/instance/*
backend/instance/**


app.db

.pytest_cache/
.pytest_cache/*
.pytest_cache/**/*
.mongo/
.mongo/*
.mongo/**
backend/uploads/
backend/uploads/*
backend/uploads/**

backend/server*
backend/.server_pids

# ==============================
# Frontend Environment
# ==============================
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.env
frontend/.env.local
frontend/.env.*.local

# ==============================
# Editor directories and files
# ==============================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/.server_pids
