* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition-normal);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}